<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Azure Search Angular App</title>
    <link href="css/Bower.min.css" rel="stylesheet">
    <link href="css/CustomersApp.min.css" rel="stylesheet">
  </head>
  <body ng-app="CustomersApp">
    <div ng-controller="MainController">
      <div class="navbar navbar-fixed-top"
        ng-class="{'navbar-default': currentCountry == 'United Kingdom', 'navbar-inverse': currentCountry == 'Canada', 'navbar-alternative': currentCountry == 'United States'}">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/Customers" ng-click="clearSearch()">
                Search App
            </a>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" ng-model="searchTerm" class="form-control" placeholder="Search"
                    typeahead="person.name for person in getSuggestions($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-wait-ms="300" typeahead-template-url="CustomerSuggestion.html" />
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <span class="input-group-btn">
                        <a ng-href="#/Search/{{currentCountry}}/{{searchTerm}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown">
                <span class="glyphicon glyphicon-flag"></span>
                {{currentCountry}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="country in countries">
                  <a ng-click="$parent.currentCountry = country">{{country}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
          <div ng-view=""></div>
      </div>
      <hr>
      <footer>
          <p>© Microsoft 2015</p>
      </footer>
    </div>
    <script src="js/Bower.min.js"></script>
    <script src="js/CustomersApp.min.js"></script>
  </body>
</html>
